{% import _self as macros %}

{% macro content() %}
    <div class="Container">
        Footer<br>
        still<br>
        not<br>
        exists<br>
    </div>

{% endmacro %}

{{ macros.content }} 